<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>t</key>
		<string>albanian</string>
		<key>s</key>
		<string>Albanian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>arabic</string>
		<key>s</key>
		<string>Arabic</string>
	</dict>
	<dict>
		<key>t</key>
		<string>catalan</string>
		<key>s</key>
		<string>Catalan</string>
	</dict>
	<dict>
		<key>t</key>
		<string>chinese</string>
		<key>s</key>
		<string>Chinese</string>
	</dict>
	<dict>
		<key>t</key>
		<string>czech</string>
		<key>s</key>
		<string>Czech</string>
	</dict>
	<dict>
		<key>t</key>
		<string>danish</string>
		<key>s</key>
		<string>Danish</string>
	</dict>
	<dict>
		<key>t</key>
		<string>dutch</string>
		<key>s</key>
		<string>Dutch</string>
	</dict>
	<dict>
		<key>t</key>
		<string>english</string>
		<key>s</key>
		<string>English</string>
	</dict>
	<dict>
		<key>t</key>
		<string>esperanto</string>
		<key>s</key>
		<string>Esperanto</string>
	</dict>
	<dict>
		<key>t</key>
		<string>estonian</string>
		<key>s</key>
		<string>Estonian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>finnish</string>
		<key>s</key>
		<string>Finnish</string>
	</dict>
	<dict>
		<key>t</key>
		<string>french</string>
		<key>s</key>
		<string>French</string>
	</dict>
	<dict>
		<key>t</key>
		<string>german</string>
		<key>s</key>
		<string>German</string>
	</dict>
	<dict>
		<key>t</key>
		<string>greek</string>
		<key>s</key>
		<string>Greek</string>
	</dict>
	<dict>
		<key>t</key>
		<string>hebrew</string>
		<key>s</key>
		<string>Hebrew</string>
	</dict>
	<dict>
		<key>t</key>
		<string>hungarian</string>
		<key>s</key>
		<string>Hungarian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>indonesian</string>
		<key>s</key>
		<string>Indonesian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>italian</string>
		<key>s</key>
		<string>Italian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>japanese</string>
		<key>s</key>
		<string>Japanese</string>
	</dict>
	<dict>
		<key>t</key>
		<string>korean</string>
		<key>s</key>
		<string>Korean</string>
	</dict>
	<dict>
		<key>t</key>
		<string>latin</string>
		<key>s</key>
		<string>Latin</string>
	</dict>
	<dict>
		<key>t</key>
		<string>norwegian</string>
		<key>s</key>
		<string>Norwegian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>polish</string>
		<key>s</key>
		<string>Polish</string>
	</dict>
	<dict>
		<key>t</key>
		<string>portuguese</string>
		<key>s</key>
		<string>Portuguese</string>
	</dict>
	<dict>
		<key>t</key>
		<string>romanian</string>
		<key>s</key>
		<string>Romanian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>russian</string>
		<key>s</key>
		<string>Russian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>slovak</string>
		<key>s</key>
		<string>Slovak</string>
	</dict>
	<dict>
		<key>t</key>
		<string>spanish</string>
		<key>s</key>
		<string>Spanish</string>
	</dict>
	<dict>
		<key>t</key>
		<string>swedish</string>
		<key>s</key>
		<string>Swedish</string>
	</dict>
	<dict>
		<key>t</key>
		<string>tagalog</string>
		<key>s</key>
		<string>Tagalog</string>
	</dict>
	<dict>
		<key>t</key>
		<string>thai</string>
		<key>s</key>
		<string>Thai</string>
	</dict>
	<dict>
		<key>t</key>
		<string>turkish</string>
		<key>s</key>
		<string>Turkish</string>
	</dict>
	<dict>
		<key>t</key>
		<string>ukrainian</string>
		<key>s</key>
		<string>Ukrainian</string>
	</dict>
	<dict>
		<key>t</key>
		<string>vietnamese</string>
		<key>s</key>
		<string>Vietnamese</string>
	</dict>
</array>
</plist>
