<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>t</key>
		<string>albanian</string>
		<key>s</key>
		<string>阿爾巴尼亞文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>arabic</string>
		<key>s</key>
		<string>阿拉伯文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>catalan</string>
		<key>s</key>
		<string>加泰羅尼亞文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>chinese</string>
		<key>s</key>
		<string>中文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>czech</string>
		<key>s</key>
		<string>捷克文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>danish</string>
		<key>s</key>
		<string>丹麥文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>dutch</string>
		<key>s</key>
		<string>荷蘭文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>english</string>
		<key>s</key>
		<string>英文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>esperanto</string>
		<key>s</key>
		<string>世界文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>estonian</string>
		<key>s</key>
		<string>愛沙尼亞文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>finnish</string>
		<key>s</key>
		<string>芬蘭文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>french</string>
		<key>s</key>
		<string>法文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>german</string>
		<key>s</key>
		<string>德文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>greek</string>
		<key>s</key>
		<string>希臘文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>hebrew</string>
		<key>s</key>
		<string>希伯來文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>hungarian</string>
		<key>s</key>
		<string>匈牙利文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>indonesian</string>
		<key>s</key>
		<string>印尼文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>italian</string>
		<key>s</key>
		<string>義大利文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>japanese</string>
		<key>s</key>
		<string>日文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>korean</string>
		<key>s</key>
		<string>韓文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>latin</string>
		<key>s</key>
		<string>拉丁文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>norwegian</string>
		<key>s</key>
		<string>挪威文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>polish</string>
		<key>s</key>
		<string>波蘭文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>portuguese</string>
		<key>s</key>
		<string>葡萄牙文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>romanian</string>
		<key>s</key>
		<string>羅馬尼亞文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>russian</string>
		<key>s</key>
		<string>俄羅斯文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>slovak</string>
		<key>s</key>
		<string>斯洛伐克文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>spanish</string>
		<key>s</key>
		<string>西班牙文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>swedish</string>
		<key>s</key>
		<string>瑞典文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>tagalog</string>
		<key>s</key>
		<string>他加祿文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>thai</string>
		<key>s</key>
		<string>泰文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>turkish</string>
		<key>s</key>
		<string>土耳其文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>ukrainian</string>
		<key>s</key>
		<string>烏克蘭文</string>
	</dict>
	<dict>
		<key>t</key>
		<string>vietnamese</string>
		<key>s</key>
		<string>越南文</string>
	</dict>
</array>
</plist>
