<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		
		<string>albanian</string>
		
		<string>アルバニア語</string>
	</array>
	<array>
		
		<string>arabic</string>
		
		<string>アラビア語</string>
	</array>
	<array>
		
		<string>catalan</string>
		
		<string>カタルーニャ語</string>
	</array>
	<array>
		
		<string>chinese</string>
		
		<string>中国語</string>
	</array>
	<array>
		
		<string>czech</string>
		
		<string>チェコ語</string>
	</array>
	<array>
		
		<string>danish</string>
		
		<string>デンマーク語</string>
	</array>
	<array>
		
		<string>dutch</string>
		
		<string>オランダ語</string>
	</array>
	<array>
		
		<string>english</string>
		
		<string>英語</string>
	</array>
	<array>
		
		<string>esperanto</string>
		
		<string>エスペラント語</string>
	</array>
	<array>
		
		<string>estonian</string>
		
		<string>エストニア語</string>
	</array>
	<array>
		
		<string>finnish</string>
		
		<string>フィンランド語</string>
	</array>
	<array>
		
		<string>french</string>
		
		<string>フランス語</string>
	</array>
	<array>
		
		<string>german</string>
		
		<string>ドイツ語</string>
	</array>
	<array>
		
		<string>greek</string>
		
		<string>ギリシャ語</string>
	</array>
	<array>
		
		<string>hebrew</string>
		
		<string>ヘブライ語</string>
	</array>
	<array>
		
		<string>hungarian</string>
		
		<string>ハンガリー語</string>
	</array>
	<array>
		
		<string>indonesian</string>
		
		<string>インドネシア語</string>
	</array>
	<array>
		
		<string>italian</string>
		
		<string>イタリア語</string>
	</array>
	<array>
		
		<string>japanese</string>
		
		<string>日本語</string>
	</array>
	<array>
		
		<string>korean</string>
		
		<string>韓国語</string>
	</array>
	<array>
		
		<string>latin</string>
		
		<string>ラテン語</string>
	</array>
	<array>
		
		<string>norwegian</string>
		
		<string>ノルウェー語</string>
	</array>
	<array>
		
		<string>polish</string>
		
		<string>ポーランド語</string>
	</array>
	<array>
		
		<string>portuguese</string>
		
		<string>ポルトガル語</string>
	</array>
	<array>
		
		<string>romanian</string>
		
		<string>ルーマニア語</string>
	</array>
	<array>
		
		<string>russian</string>
		
		<string>ロシア語</string>
	</array>
	<array>
		
		<string>slovak</string>
		
		<string>スロバキア語</string>
	</array>
	<array>
		
		<string>spanish</string>
		
		<string>スペイン語</string>
	</array>
	<array>
		
		<string>swedish</string>
		
		<string>スウェーデン語</string>
	</array>
	<array>
		
		<string>tagalog</string>
		
		<string>タガログ語</string>
	</array>
	<array>
		
		<string>thai</string>
		
		<string>タイ語</string>
	</array>
	<array>
		
		<string>turkish</string>
		
		<string>トルコ語</string>
	</array>
	<array>
		
		<string>ukrainian</string>
		
		<string>ウクライナ語</string>
	</array>
	<array>
		
		<string>vietnamese</string>
		
		<string>ベトナム語</string>
	</array>
</array>
</plist>
