<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>t</key>
		<string>dutch</string>
		<key>s</key>
		<string>네덜란드어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>danish</string>
		<key>s</key>
		<string>덴마크어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>arabic</string>
		<key>s</key>
		<string>아랍어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>albanian</string>
		<key>s</key>
		<string>알바니아어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>estonian</string>
		<key>s</key>
		<string>에스토니아어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>esperanto</string>
		<key>s</key>
		<string>에스페란토어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>english</string>
		<key>s</key>
		<string>영어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>chinese</string>
		<key>s</key>
		<string>중국어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>czech</string>
		<key>s</key>
		<string>체코어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>catalan</string>
		<key>s</key>
		<string>카탈로니아어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>french</string>
		<key>s</key>
		<string>프랑스어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>finnish</string>
		<key>s</key>
		<string>핀란드어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>german</string>
		<key>s</key>
		<string>독일어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>greek</string>
		<key>s</key>
		<string>그리스어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>hebrew</string>
		<key>s</key>
		<string>히브리어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>hungarian</string>
		<key>s</key>
		<string>헝가리어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>indonesian</string>
		<key>s</key>
		<string>인도네시아어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>italian</string>
		<key>s</key>
		<string>이탈리아어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>japanese</string>
		<key>s</key>
		<string>일본어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>korean</string>
		<key>s</key>
		<string>한국어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>latin</string>
		<key>s</key>
		<string>라틴어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>norwegian</string>
		<key>s</key>
		<string>노르웨이어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>polish</string>
		<key>s</key>
		<string>폴란드어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>portuguese</string>
		<key>s</key>
		<string>포르투갈어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>romanian</string>
		<key>s</key>
		<string>루마니아어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>russian</string>
		<key>s</key>
		<string>러시아어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>slovak</string>
		<key>s</key>
		<string>슬로바키아어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>spanish</string>
		<key>s</key>
		<string>스페인어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>swedish</string>
		<key>s</key>
		<string>스웨덴어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>tagalog</string>
		<key>s</key>
		<string>타갈로그어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>thai</string>
		<key>s</key>
		<string>태국어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>turkish</string>
		<key>s</key>
		<string>터키어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>ukrainian</string>
		<key>s</key>
		<string>우크라이나어</string>
	</dict>
	<dict>
		<key>t</key>
		<string>vietnamese</string>
		<key>s</key>
		<string>베트남어</string>
	</dict>
</array>
</plist>
